<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="guitar" class="com.company.aop.Guitar"></bean>

   <bean id = "langlang" class="com.company.aop.Instrumentalist">
       <property name="song" value="小苹果"></property>
       <property name="instrument" ref="guitar"></property>
   </bean>

    <bean id = "audience" class="com.company.aop.Audience"></bean>

    <aop:config>
        <aop:aspect ref="audience">
            <!-- 声明切入点 -->
            <aop:pointcut id="performance" expression="execution(* com.company.aop.Performer.perform(..))"></aop:pointcut>
            <aop:before method="takeSeats" pointcut-ref="performance"></aop:before>
            <aop:before method="turnOffCellPhones" pointcut-ref="performance"></aop:before>

            <aop:after method="applaud" pointcut-ref="performance"></aop:after>
            <aop:after-throwing method="demandRefund" pointcut-ref="performance"></aop:after-throwing>
        </aop:aspect>
    </aop:config>
</beans>