<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="guitar" class="com.company.aop.Guitar"></bean>

   <bean id = "langlang" class="com.company.aop.Instrumentalist">
       <property name="song" value="小苹果"></property>
       <property name="instrument" ref="guitar"></property>
   </bean>

    <bean id = "audience" class="com.company.aop.Audience"></bean>
    <bean id = "aroundAudience" class="com.company.aop.AroundAudience"></bean>

    <aop:config>
        <aop:aspect ref="aroundAudience">
            <!-- 声明切入点 -->
            <aop:pointcut id="performance" expression="execution(* com.company.aop.Performer.perform(..))"></aop:pointcut>
            <!--<aop:before method="takeSeats" pointcut-ref="performance"></aop:before>-->
            <!--<aop:before method="turnOffCellPhones" pointcut-ref="performance"></aop:before>-->

            <!--<aop:after-returning method="applaud" pointcut-ref="performance"></aop:after-returning>-->
            <!--<aop:after-throwing method="demandRefund" pointcut-ref="performance"></aop:after-throwing>-->
            <aop:around method="watchPerformance" pointcut-ref="performance"></aop:around>
        </aop:aspect>
    </aop:config>


    <bean id = "userManager" class="com.company.aop.UserManagerImpl"></bean>
    <bean id = "securityHandler" class="com.company.aop.SecurityHandler"></bean>

    <aop:config>
        <aop:aspect ref="securityHandler">
            <aop:pointcut id="userpointcut" expression="execution(* com.company.aop.UserManager.*(..))"></aop:pointcut>
            <aop:before method="checkSecurity" pointcut-ref="userpointcut"></aop:before>
        </aop:aspect>


    </aop:config>

</beans>